#navigation {
  flex-grow: 1;
  justify-content: space-around;
  .nav-item {
    display: flex;
    text-decoration: none;
    color: #fff;
    text-transform: none;
    padding: 21px;
    font-size: 14px;
    line-height: inherit;
    &.active {
      background: rgba(255, 255, 255, .1);
    }
  }
}