#header {
  header {
    background-color: rgb(38, 50, 56);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #navigation {
    flex-grow: 1;
    //justify-content: flex-end;
    justify-content: space-around;
  }
  #logoImage {
    padding: 0 20px;
  }
  #app-bar {
    background: #263238;
  }
}
