#footer {
  text-align: center;
  padding-top: 35px;
  background: #f2f2f2;
  color: #adadb5;
  .title {
    color: #253444;
  }
  .delimiter {
    border-bottom: 1px solid #d5d5d5;
    margin: 35px 0;
  }
  .footer-menu {
    padding-left: 0;
    padding-right: 0;
    .footer-link {
      margin-bottom: 16px;
      a {
        color: #6f6f6f;
        text-decoration: underline;
      }
    }
    .vertical-delimiter {
      padding: 0;
      width: 2px;
      position: relative;
      &:after {
        top: 0;
        left: 0;
        width: 2px;
        content: '';
        height: 100%;
        display: block;
        position: absolute;
        background: #d5d5d5;
      }
    }
  }
  @media ( max-width: 320px ) { font-size: 12px}
}
