@import './styles/variables';
@import './styles/typing';

html, body {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  font-family: Roboto-Condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.list-inline {
  //margin-left: -5px;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
  li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

p {
  margin: 0 0 10px;
}

a {
  color: #03a9f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// styles for IE11
@import './styles/iestyles.scss';

